.go-back {
    margin:1%;
    padding:1%;
    background: radial-gradient(circle, rgba(0,82,156,1) 0%, rgba(19,54,85,1) 130%);
    color:white;
    text-transform: uppercase;
    border-radius: 10px;
    border:none;
    font-weight: bold;
    box-shadow:  3px 3px 20px black;   
}

.go-back:hover {
    background: radial-gradient(circle, rgba(255,207,1,1) 0%, rgba(147,126,47,1) 150%);
    color:#00529C;

  } 

 .bandeau-foire-gras {
    box-sizing: content-box;
    width: 50%;

 }
 .bandeau-vide-commode {
    box-sizing: content-box;
    width: 20%;  
 }

 .bloc-foire-gras {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: black;
 }
