.lions-presentation {
  width: 100%;
  display: block;
}

h1 {
  color: #00529C;
  text-transform: uppercase;
  font-weight: bold;
  margin: 1%;
  text-align: center;
  font-size: 1.8rem;
}

h2 {
  color: #00529c;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1%;
  text-align: center;
  float: left;
  width: 77%;
}
.text-presentation {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.text1-presentation {
  flex-direction: column;
  background-color: #D6DBDF;
  padding:2%;
  margin:2%;
  text-align: left;
  line-height: 30px;
  border-radius: 10px;
  box-shadow:  1px 1px 10px black;
}

.text2-presentation {
  flex-direction: column;
  background-color: #D6DBDF;
  padding:2%;
  margin:1%;
  text-align: left;
  line-height: 30px;
  border-radius: 10px;
  box-shadow:  1px 1px 10px black;
  margin-left: -32%;
  margin-right: 2%;

}

.picture-presentation {
  width: 100%;
  height: 100%;
}

.lions-paradou {
  justify-content: space-between;
}

.picture {
  /* max-width: 100%; */
  width: 200px;
  justify-content: space-between;
  /* max-height: 100%; */
  margin-left: 1rem;
  padding-bottom: 1%;
}

/*
* Cards 
*/ 

.cards-presentation
{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  
};

.cards
{
  width: 100%;
  border: 2px solid #00529c;
  margin: 1rem;
  box-sizing: border-box;
  border-radius: 10px; 
  background-color: rgba(255,255,255,0.52);   
  border: none;
  text-align:center;
  justify-content: center;
  padding: 1%;
  color:black;
  box-shadow: 3px 3px 3px #25527a;
  margin:1%;
}

.cards-title
{
  color: #00529c;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 2%;
};

.cards-img
{
  height: 100px;
  width: 150px;
  margin: auto;
};

.cards-text
{
  line-height: 1.5;
  padding: 2%;
};