.contact_main
{
    height: 576px;
};

/*
* Link
*/
.emailLink {
    color: blue;
    text-decoration: underline;
    font-weight: bold;
}

.telLink {
    font-size: x-large;
}

.telLink:hover {
    color:blue;
}


span:before {content:" "; display: block; }

.contact_main
{
    line-height: 2;
};