.club {

    background-color: #D6DBDF;
    padding:2%;
    margin:1%;
    border-radius: 10px;
}

.paragraph {
    
    box-sizing: border-box;
    border-radius: 10px; 
    background-color: rgba(255,255,255,0.52);   
    border: none;
    text-align:center;
    justify-content: center;
    padding: 1%;
    color:black;
    box-shadow: 3px 3px 3px #25527a;
    margin:1%;
}