.header-lions {
  margin: 0% 0% 2% 0%;
  padding:1%;
}

.bloc-navbar-lions {
  background-color: #00529C;
  display:flex;
  flex-direction: row;
  max-width: 100%;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 3px 3px 20px black;
}
.span-nav {
  margin: 1%;
  justify-content: space-between;
  width: 20%;
}

.navbar-lions {
  margin:1%;
  padding:10%;
  background-color:#EEC611 ;
  color:#00529C;
  text-transform: uppercase;
  border-radius: 10px;
  border:none;
  font-weight: bold;
  box-shadow: inset 2px 2px 2px #F2E8BA , 3px 3px 20px black;
 
}


.navbar-lions:hover {
  background-color: white;
  color:#00529C;
} 

.navbar-lions:focus {
  background-color: white;
  color:#00529C;
}