.header-lions {
  margin: 0% 0% 1% 0%;
  padding:1%;
}

.bloc-navbar-lions {
  background: radial-gradient(circle, rgba(0,82,156,1) 0%, rgba(19,54,85,1) 130%);
  display:flex;
  flex-direction: row;
  max-width: 100%;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 3px 3px 20px black;
}
.span-nav {
  margin: 1%;
  justify-content: space-between;
  width: 20%;
}

.navbar-lions {
  margin:1%;
  padding:10%;
  background: radial-gradient(circle, rgba(255,207,1,1) 0%, rgba(147,126,47,1) 150%);
  color:#00529C;
  text-transform: uppercase;
  border-radius: 10px;
  border:none;
  font-weight: bold;
  box-shadow:  3px 3px 20px black;
 
}


.navbar-lions:hover {
  background-color: white;
  color:#00529C;
} 

.navbar-lions:focus {
  background-color: white;
  color:#00529C;
}