.member_title
{
    font-weight: bold;
    font-size: 1.7rem;
};

.pictureList
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2%;
};

.card_unit
{
    width: 23%;
    height: 40%;
    margin: 1rem;
};

.card_name
{
    font-weight: bold;
    font-size: 1.4rem;
    margin: 1rem;
};

.card_img
{
    border-radius: 1rem;
    width: 200px;
    height: 200px;
    object-fit: cover;

};

.card_img:hover {
    border-radius: 1rem;
    width: 200px;
    height: auto;
    zoom: 1.5;
}


.card_function
{
    font-weight: bold;
    font-size: 1.2rem;
    margin: 1rem;
};