.footer
{
    background-color:#4285F4 ;
    height: 150px;
    padding: 2%;
    border-radius: 10px;
    margin: 2%;
};

.footer_corp
{
    height: 100%;
    color: white;
    font-weight: bold;
};

.footer_mention
{

};

.footer_link
{
    display: flex;
    justify-content: space-evenly;
    margin-left: 85%;
    margin-top: 5%;
};