footer
{
    background: radial-gradient(circle, rgba(0,82,156,1) 0%, rgba(19,54,85,1) 130%); 
    border-radius: 10px;
    margin: 1%;
    display: flex;

    box-shadow: 3px 3px 20px black;
};

.footer_corp
{
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 10px; 
    background: radial-gradient(circle, rgba(255,207,1,1) 0%, rgba(147,126,47,1) 150%);
    border: none;
    text-align:center;
    justify-content: center;
    padding: 1% 1%;
    color:#00529C;
    margin: 20px auto 10px auto;
    width: max-content;
    box-shadow:  3px 3px 20px black;
};

.footer_mention
{

};

.footer_link
{
    display: flex;
    justify-content: center;
    padding : 1%;
};

.facebook {
    width:11%;
    height:11%;
    cursor: pointer;
    padding:1%;
  }

  .copiright {
    padding:1%;
  }